*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-family: "Microsoft JhengHei";
    line-height: 1.5;
    font-size: 15px;
}

h1,
h2,
h3,
h4,
th {
    font-weight: bold;
}

a {
    display: block;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

input {
    width: 100%;
    border: none;
    display: block;
    &:focus {
        outline: none;
    }
}

textarea:focus {
    outline: none;
}

button {
    border: none;
    cursor: pointer;
    font-family: inherit;
    &:focus {
        outline: none;
    }
}

.container {
    max-width: 1002px;
    margin: 0 auto;
}